* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI';
}

h1 {
    color: rgb(247, 251, 247);
    font-weight: 800;
    font-size: 12vw;
    height: 100px;
    padding: 20px;
    -webkit-text-stroke: 1px rgb(98, 145, 118);

}

h2 {
    color: rgb(247, 251, 247);
    background-color: rgb(98, 145, 118);
    font-weight: 800;
    font-size: larger;
    padding: 20px;
}

h3 {
    color: rgb(98, 145, 118);
}

.button {
    font-size: medium;
}

header {
    background-color: white;
    background-image: url('../images/header-image1.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    text-align: center;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;


}

footer img {
    width: 100px;
    height: auto;
}

main {
    padding: 20px;
}

section {
    margin: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}

section>p {
    padding: 10px;
}

section h2 {
    border-radius: 10px 10px 0 0;
}

section ul {
    padding: 10px;
    margin-left: 30px;
}

section ol {
    padding: 10px;
    margin-left: 30px;
}

header nav ul {
    display: flex;
    gap: 10px 20px;
    row-gap: 10px;
    column-gap: 20px;
    justify-content: center;
    list-style: none;
}

header nav ul li a {
    display: inline-block;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-size: larger;
    background-color: rgb(119, 36, 15);
    color: white;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #2980b9;
}

nav ul li a.active {
    background-color: #1a7017;
}

article {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
}

article .content {
    margin: 10px;
}

article img {
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
    border-radius: 15px;
}

@keyframes poink {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    0% {
        transform: scale(1);
    }
}

section img:hover {
    animation-name: poink;
    animation-duration: 1s;
}

section .blockrow {
    display: flex;
}

.myblock {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
}

.myblock h3 {
    color: rgb(98, 145, 118);
}

.myblock p {
    font-style: italic;
}

.myblock picture img {
    max-width: 100%;
    border-radius: 10px;
}

footer {
    background-color: rgb(98, 145, 118);
    padding: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer img {
    max-width: 100px;
}

footer nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

footer nav ul li {
    margin-left: 20px;
}

footer p {
    text-align: center;
    margin-top: 10px;
}

footer picture img:hover {
    transform: rotate(180deg);
}
